* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    position: relative;
}

/* header */

.bg-h{
    background-image: url("../img/pattern.png");
    background-color: #4ea0ff;
    height: 150px;
}

#logo{
    width: 10%;
    position: absolute;
    left: 10px;
    bottom: 10px;
}

/* main */

.grey{
    color: grey;
}

.t1{
    font-size: 30px;
}

h1 {
    font-size: 70px;
}

a:link {
    text-decoration: none;
  }